#login {
    margin: 25px 15px;
    padding: 5px;
    background-color: #805eea;
    color: white;
}

#lang {
    margin: 25px 15px;
    padding: 5px;
    background-color: #6dc6d4;
    color: white;
}

#register {
    background-color: #805eea;
}
