* {
    box-sizing: border-box;
}

/*http://codepen.io/bootstrapped/pen/KwYGwq*/
div.nav {
    background-color: gold;
    display: block;
}

div.nav img {
    hight: auto;
    max-width: 20%;
}

div.nav ul {
    list-style-type: none;
    overflow: hidden;
    width: 80%;
    float: right;
    line-height: 100px;
    position: relative;
}

div.nav ul li {
    float: left;
}

div.nav ul li a {
    display: block;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 16px;
}

div.nav ul li a:hover:not(.active) {
    background-color: blue;
}

div.nav ul li a:active {
    background-color: white;
}