/*all buttons opacity changes to 65% when being hovered over*/
button:hover {
    opacity: 0.65;
}

h2 {
    font-size: 25px;
    text-align: center;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.center-uppercase {
    text-align: center;
    text-transform: uppercase;
}

/*slogan*/
.slogan {
    position: relative;
}

div.slogan:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/slogan.jpg) left top no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: -1;
}

.slogan-cn {
    position: relative;
}

div.slogan-cn:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/slogan-cn.jpg) left top no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: -1;
}

.slogan-panel {
    height: 250px;
    position: relative;
}

.slogan-content {
    text-align: center;
    font-size: 30px;
    color: white;
}

.slogan-content > p {
    text-shadow: 5px 5px 10px gray;
}

/*button group*/
.buttongroup {
    position: relative;
}

.buttongroup > div {
    padding: 0px 1px;
}

.buttongroup button {
    width: 100%;
    text-align: center;
    padding: 15px 32px;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.buttongroup-buttons button {
    background-color: #6dc6d4;
    height: 90px;
    font-size: 32px;
    text-transform: uppercase;
}

.imgbuttons button {
    background-color: #dfeef3;
    height: 90px;
    font-size: 20px;
}

.imgbuttons span img {
    height: 30px;
    margin-bottom: 10px;
}

.imgbutton-underline {
    border-bottom: 3px solid #6dc6d4;
}

#arrow-up {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #dfeef3;
    position: absolute;
    left: 50%;
    top: -25px;
    z-index: 9999;
}


div.lightBlue {
    background-color: #dfeef3;
    padding: 0;
}

/*advantages*/
.advantages {
    position: relative;
}

div.advantages:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/advantages.jpg) left top no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: -1;
}

.advantages-img {
    height: 400px;
}

.advantages-img img {
    width: 100%;
    height: 100%;
}

.advantages-img p {
    position: absolute;
    right: 20px;
    bottom: 5px;
    font-weight: bold;
}

.advantages-img .stage {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.advantages-img .stage h2 {
    font-weight: bold;
    position: relative;
    text-align: left;
    left: 10px;
}

.advantages-img .stage p {
    position: relative;
    left: 10px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

/*doctors*/
.doctors {
    position: relative;
}

.doctors h3 {
    font-size: 20px;
    font-weight: bold;
}

.doctors button {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #6dc6d4;
}

/*hospitals*/

div.hospitals {
    position: relative;
}

div.hospitals:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/hospitals.jpg) left top no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: -1;
}

div.hospitals h2 {
    text-align: left;
}

div.hospitals button {
    margin-top: 20px;
    width: 150px;
    border: 2px solid black;
}

#circle {
    width: 80px;
    height: 80px;
    background: #6dc6d4;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: left;
    position: absolute;
    opacity: 0.68;
}

@media screen and (max-width: 755px) {
    #circle {
        margin-top: -25px;
    }
}

@media screen and (max-width: 600px) {
    #circle {
        margin-top: -50px;
    }
}

.hospital-left {
    margin: 40px;
    z-index: 999;
}

.hospital-left img {
    width: 100%;
    height: auto;
}

/*news and medias*/
div.news {
    position: relative;
}

div.news:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/news.jpg) left top no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: -1;
}

div.news table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    font-size: 30px;
}

div.news td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

div.news td-left {
    width: 30%;
}

div.news td-right {
    width: 70%;
}

/*medias*/
.medias-content {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    opacity: 0.5;
    height: 200px;
}

/*footer*/
div.footer {
    margin-left: 20px;
    margin-right: 20px;
}

div.footeritem {
    margin: auto;
}

div.footeritem img {
    width: 50%;
    height: auto;
}

div.footeritem div img {
    height: 20px;
    width: 30px;
    padding-right: 10px;
}

div.footeritem h2 {
    text-align: center;
}

div.icons {
    margin-top: 20px;
}

div.icons div a > img {
    display: block;
    margin: auto;
    height: auto;
    width: 60px;
}

div.sendemailgroup {
    width: 60%;
    margin: auto;
}

div.sendemailgroup input[type=text] {
    background-color: #6dc6d4;
    color: white;
    border: none;
    border-radius: 30px;
}

div.sendemailgroup button {
    background-color: #805eea;
    border: none;
    color: white;
    border-radius: 30px;
    margin-left: -10px;
    z-index: 999;
}

div.qr {

}

div.qr p {
    text-align: center;
}

div.qr img {
    width: 60%;
    display: block;
    margin: auto;
}