/*all buttons opacity changes to 65% when being hovered over*/
button:hover {
    opacity: 0.65;
}

h2 {
    font-size: 25px;
}

.center-uppercase {
    text-align: center;
    text-transform: uppercase;
}

/*slogan*/
.slogan {
    background: url(../img/slogan.jpg) left top no-repeat;
    background-size: 100% auto;
    height: 500px;
    opacity: 0.6;
}

.slogan-panel {
    height: 250px;
    position: relative;
}

.slogan-content {
    text-align: center;
    font-size: 30px;
    color: white;
}

.slogan-content > p {
    text-shadow: 5px 5px 10px gray;
}

/*button group*/
.buttongroup {
    position: relative;
}

.buttongroup > div {
    padding: 0px 1px;
}

.buttongroup button {
    width: 100%;
    text-align: center;
    padding: 15px 32px;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.buttongroup-buttons button {
    background-color: #6dc6d4;
    height: 90px;
    font-size: 32px;
    text-transform: uppercase;
}

.imgbuttons button {
    background-color: #dfeef3;
    height: 90px;
    font-size: 20px;
}

.imgbuttons button:hover {
    text-decoration: underline;
}

.imgbuttons span img {
    height: 24px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #dfeef3;
    position: absolute;
    left: 50%;
    top: -25px;
}

div.imgbackground {
    background-size: 100% auto;
}

div.lightBlue {
    background-color: #dfeef3;
}

/*advantages*/

div.advantages {
    background-image: url(../img/advatage-background.jpg);
}

div.advantages-img {
    height: 300px;
    background-size: contain;
}

#ser1 {
    background: url("/img/ser1.png") top left no-repeat;
}

#ser2 {
    background: url("/img/ser2.png") top left no-repeat;
}

#ser3 {
    background: url("/img/ser3.png") top left no-repeat;
}

#ser4 {
    background: url("/img/ser4.png") top left no-repeat;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

/*doctors*/

/*hospitals*/
div.hospitals {
    background-image: url(../img/ser4.png);
}

/*news and medias*/
div.news {
    background-image: url(../img/ser4.png);
    height: 900px;
}

div.news table {
    width: 100%;
    border-collapse: collapse;
    font-size: 30px;
}

div.news td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

div.news td-left {
    width: 30%;
}

div.news td-right {
    width: 70%;
}

/*footer*/
div.footer {

}

div.footeritem {
    width: 33.333%;
    float: left;
    position: relative;
    margin: auto;
}

div.footeritem img {
    width: 100%;
    height: auto;
}

div.footeritem div {
    margin: 10px 15px;
}

div.footeritem div img {
    height: 16px;
    width: 16px;
    padding-right: 10px;
}

div.footeritem h2 {
    margin-top: 100px;
    text-align: center;
}

div.footeritem input[type=text] {
    width: 60%;
    font-size: 30px;
    float: left;
    background-color: #6dc6d4;
    color: white;
    border: none;
    border-radius: 30px;
    margin-left: 15%;
}

div.footeritem button {
    background-color: #805eea;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50px;
    float: left;
    width: 20%;
    margin-left: -20%;
}

div.footeritem div.qr {
    width: 35%;
    float: left;
    margin-top: 10%;
}

div.footeritem div.qr img {
    width: 100%;
    height: auto;
}
